[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Takes a file as an input and and writes the file line by line and sends it to the targeted person
[access "refs/*"]
	owner = group user/Ege Karadibak (egekaradibak)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ege Karadibak (egekaradibak)
	label-Verified = -1..+1 group user/Ege Karadibak (egekaradibak)
	push = group user/Ege Karadibak (egekaradibak)
	read = group user/Ege Karadibak (egekaradibak)
	rebase = group user/Ege Karadibak (egekaradibak)
	removeReviewer = group user/Ege Karadibak (egekaradibak)
	submit = group user/Ege Karadibak (egekaradibak)
[access "refs/heads/*"]
	create = group user/Ege Karadibak (egekaradibak)
	push = +force group user/Ege Karadibak (egekaradibak)
	pushMerge = group user/Ege Karadibak (egekaradibak)
	read = group user/Ege Karadibak (egekaradibak)
[access "refs/tags/*"]
	push = group user/Ege Karadibak (egekaradibak)
	push = +force group user/Ege Karadibak (egekaradibak)
